.contact-container {
  padding: 4rem 2rem;
  /* max-width: 550px; */
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 2rem;
  text-align: center;
  /* background: rgba(255, 255, 255, 0.07); */
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
  transition: transform 0.5s ease;
  animation: fadeIn 1s ease-in-out;
}


.contact-container:hover {
  transform: scale(1.01);
}

.contact-container h2 {
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
  color: #7cf03d;
}

.contact-subtext {
  font-size: 1.1rem;
  color: #cbd5e1;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  border: 1px solid #7cf03d;
  border-radius: 10px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #7cf03d;
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.5);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #94a3b8;
}

.contact-form button {
  display: inline-block;
  padding: 9px 25px;
  background-color: #7cf03d;
  border: 2px solid #7cf03d !important;
  border-radius: 8px;
  box-shadow: 0 0 10px #7cf03d;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: .5s;  
}

.contact-form button:hover {
  background: transparent;
  color: #7cf03d;
  box-shadow: none;
}


.contact-alt {
  margin-top: 2rem;
  font-size: 0.95rem;
  color: #cbd5e1;
}

.contact-alt a {
  color: #7cf03d;
  text-decoration: none;
}

.form-success {
  margin-top: 1rem;
  color: #7cf03d;
  font-weight: bold;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .contact-container {
    width: 90%;
    padding: 2rem 1rem;
  }

  .contact-container h2 {
    font-size: 2rem;
  }

  .contact-subtext {
    font-size: 1rem;
  }

  .contact-form {
    gap: 1rem;
    padding: 1rem 0;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.95rem;
  }

  .contact-form button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .contact-alt {
    font-size: 0.85rem;
  }
}
