
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.register-container {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #1c1c1e, #2d2d2f); */
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
}

.register-box {
  background: rgba(45, 45, 47, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(124, 240, 61, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

.register-box h2 {
  text-align: center;
  color: #7cf03d;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.register-box p {
  text-align: center;
  color: #94a3b8;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.register-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-box input {
  padding: 12px 15px;
  background: transparent;
  border: 1px solid #7cf03d;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.register-box input::placeholder {
  color: #94a3b8;
}

.register-box input:focus {
  outline: none;
  border-color: #a3f07c;
  box-shadow: 0 0 10px rgba(124, 240, 61, 0.3);
}

.register-btn {
  padding: 12px;
  background: #7cf03d;
  color: #2d2d2f;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.register-btn:hover {
  background: transparent;
  color: #7cf03d;
  border: 2px solid #7cf03d;
}

.go-login-btn{
  padding: 12px;
  background: #7cf03d;
  color: #2d2d2f;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: 7rem;
}

.go-login-btn:hover {
  background: transparent;
  color: #7cf03d;
  border: 2px solid #7cf03d;
}

.login-link {
  text-align: center;
  margin-top: 1rem;
  color: #aaa;
}

.login-link a {
  color: #7cf03d;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: none;
  color: #94a3b8;
}

.seed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  background: #0f0f0f;
  padding: 16px;
  border: 1px solid #7cf03d;
  border-radius: 8px;
  margin: 1rem 0;
}

.seed-word {
  background: #1a1a1a;
  border: 1px solid #7cf03d;
  color: #94a3b8;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 480px) {
  .go-login-btn {
    margin-left: 2rem;
    /* width: 100%; */
    text-align: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
